<section class="inner-section">
  <h1>Registration Web Application</h1>

<div class="container">
<p>format: CA | CF | CJ and 123 456 | 123-456 | 1234</p>
  <form method="post" action="/registration">
      <div class="input-group col-4 ">
        <span class="input-group-text input-group-prepend" id="inputGroup-sizing-default">Reg Number</span>
        <input type="text" class="form-control input col-12" aria-label="Sizing example input" pattern='/^((CA|CJ|CF)\s\d{3}\-\d{3})$|^((CA|CJ|CF)\s\d{3}\s\d{3})$|^((CA|CJ|CF)\s\d{4})$/i'
          title="Please add the right format" placeholder="CA 123-161" name="names" aria-describedby="inputGroup-sizing-default">
      </div>
        <div>
        {{#if messages.error}}
        <span class="red">{{messages.error}}</span>
        {{/if}}
      </div>
      <div>
        {{#if messages.info}}
        <span class="green">{{messages.info}}</span>
        {{/if}}
        </div>
      <br>
        <button type="submit" class="btn btn-success  ">Add</button>
        <a href="/registration/reset" title="this will delete all registration numbers" class="btn btn-warning"
          name="button">Reset</a>
      <br>
    <div class="towns">
      <hr>
      <h5>SELECT BY TOWN</h5>
    
      <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="menu" data-toggle="dropdown">Select Towns
          {{!-- <span class="caret"></span> --}}
        </button>
        <ul class="dropdown-menu bg-warning">
          <li>
            <a href="/filter/All">All Towns</a>
          </li>
          <li>
            <a href="/filter/CA">Cape Town</a>
          </li>
          <li>
            <a href="/filter/CF">Kraaifontein</a>
          </li>
          <li>
            <a href="/filter/CJ">Paarl</a>
          </li>
        </ul>
      </div>

    </div>
  </form>

  <div class="show">
    <div class="regNum2">
      {{#each display}}
      <div class="display">{{num_plates}}</div>
      {{/each}}
    </div>
  </div>
</div>
</section>